<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Body</title>
    <link rel="stylesheet" href="./../style.css">
</head>
<body>
    <div class="q-body">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam dolorum commodi deleniti atque explicabo eveniet repudiandae, tempora tempore totam odio quo aut.</p>
        <br>
        <div class="q-body-button">
            <button>Option 1</button>
            <button>Option 2</button>
            <button>Option 3</button>
        </div>
    </div>
    
</body>
</html>